.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    margin: 50px 200px 50px 200px;
}


@media (max-width: 800px) {
    .footer {
      flex-direction: column;
    }
  }