.main-container{
    background-color: #495E57;
}

.main-element{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0px 200px 0px 200px;
}

@media (max-width: 800px) {
    .main-element {
      flex-direction: column;
    }
  }
  /* Article element */
article{
    width: 40vw;
    padding-top: 40px;
}

h1 {
    color: #F4CE14;
}
button {
    background-color: #F4CE14;
    color: black;
    border-radius: 6px;
    border: 0px;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    font-family: 'Markazi Text', serif;
}
button:hover {
    border: 1px solid black;
    cursor: pointer;
}
/* Image */
.article-img{
    margin-left: 100px;
    transform: translateY(20%);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: 20% 10%;
}

/* SPECIALS */
.specials-container{
    display: flex;
    flex-direction: column;
}
.specials-header{
    margin: 50px 200px 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Specials - Cards */
.specials-cards{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 100px;
    justify-content: space-evenly;
}
@media (max-width: 800px) {
    .specials-cards {
      flex-direction: column;
      margin: 0;
      align-items: center;
    }
  }
.specials-card{
    width: 225px;
    border-radius: 12px;
    background-color: #efeded;
    margin: 20px;
}
.card-text{
    padding: 0px 20px 0px 20px;
}
.specials-img{
    background-color: #F4CE14;
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0px 0px;
}
.specials-title-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Testimonials */

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px 100px 0px;
}
.testimonials-cards{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 100px;
    justify-content: space-evenly;
}

.testimonials-card{
    width: 170px;
    border-radius: 12px;
    background-color: #efeded;
    margin: 20px;
    padding: 20px;
}
.testominials-img-photo{
    display: flex;
    flex-direction: row;
}
.testimonials-img{
    margin-right: 20px;
}
@media (max-width: 800px) {
    .testimonials-cards {
      flex-direction: column;
      margin: 0;
    }
  }

  /* Hero 2 */

  .hero2{
    display: flex;
    flex-direction: row;
    background-color: #495E57;
  }
  .hero2-text{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 130px 100px 0px 200px;
    width: 30vw;
  }
  .hero2-images{
    display: flex;
    margin-right: 200px;
  }
  .hero2-image1{
    width: 300px;
    height: 400px;
    margin: 125px 0 50px 0;
    border-radius: 12px;
    object-fit: cover;
    object-position: 80% 10%;
  }
  .hero2-image2{
    width: 300px;
    height: 400px;
    margin: 50px 0 0 -40px;
    border-radius: 12px;
    object-fit: cover;
  }

  @media (max-width: 800px) {
    .hero2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
  }
  @media (max-width: 800px) {
    .hero2-images {
      align-items: center;
      margin: 50px;
    }
  }

  /* Bookingform */
  .bookingformcontainer {
    margin-top: 20px;
    padding: 50px;
    color: black;
    background-color: #495E57;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bookingform {
    background-color: white;
    padding: 20px;
    width: 250px;
    height: auto;
    max-height: 400px; 
    overflow-y: auto; 
    border-radius: 12px;
  }
  
  /* confirmation-message */
  .confirmation-message {
    margin-top: 20px;
    padding: 50px;
    width: 30vw;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 12px;
  }
  
  .time-button-container {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .time-button-container button {
    margin-right: 10px;
  }
  
  .time-button-container button:last-child {
    margin-right: 0;
  }
  
  .input:focus:invalid {
    border: 2px solid red;
  }
  
  .bookingform > input {
    margin: 10px 0; 
  }
  .bookingform > button {
    margin-top: 10px; 
  }
  