nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 0px 100px 0px 100px;
    font-family: 'Markazi Text', serif;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links, a:link {
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}
li {
    text-decoration: none;
    list-style-type: none
}

a{
    color: Black;
}
a:hover{
    color: rgb(2, 62, 2);
}

@media (max-width: 800px) {
    nav, .nav-links{
      flex-direction: column;
    }
  }
